@keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: .5; }
}

@keyframes bg-color {
    0% { background-color: inherit; }
    100% { background-color: var(--color-bg); }
}

@keyframes margin-right {
    0% {
        opacity: 0;
        margin-left: -1em;
    }

    100% {
        opacity: 1;
        animation-delay: 1s;
        margin-left: var(--spacing-md);
    }
}

@keyframes pdd-left {
    0% {
        padding-left: 0;
        font-weight: normal;
    }

    50% { padding-left: .5em; }

    100% {
        font-weight: 700;
        padding-left: 1em;
    }
}

@keyframes border-slide {
    0% { border-left-width: 0; }
    
    100% {
        border-left-width: .5em;
        border-left-color: var(--border-color);
    }
}

@keyframes border-caller {
    0% { border-left-color: var(--color-link); }
    50% { border-left-color: var(--color-text); }
    75% { border-left-color: var(--color-link); }
    100% { border-left-color: var(--color-text); }
}

@keyframes border-and-bg {
    0% {
        background: inherit;
        border-left-width: 0;
    }

    100% {
        border-left-width: .5em;
        background: var(--color-bg);
    }
}

@keyframes only-border-left-slide {
    0% { border-left-width: 0; }
    100% { border-left-width: .5em; }
}
